<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style type="text/css">
        .md-14 
        {
            display: inline-block;
            font-size: 14px !important;
        }
        body {
            background-color: #f5f5f5;
        }
        .navbar-custom-bg {
            background-color: #ececec !important;
        }
		.logo {
			margin-bottom: 30px;
			color: #007bff;
		}
		.body-seize {
			height: 90vh;
			display: flex;
			flex-direction: column; 
		}

        #title:hover {
            text-decoration: none !important;
        }
        {% block styles %}{% endblock %}
    </style>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static 'js/find_users.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-collapse navbar-custom-bg">
        <a href="/" id="title">
            <h2 class="logo">LE<span style="color:black;">n</span>S</h2>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" 
             id="navbarNavAltMarkup">
             <div class="navbar-nav">
                {% if not request.user.is_authenticated %}
                    <a class="nav-item nav-link" href="/login">
                        <i class="material-icons md-14">exit_to_app</i> 
                        Login
                    </a>
                    <a class="nav-item nav-link" href="/register">
                        <i class="material-icons md-14">person</i> 
                        Register
                    </a>
                {% else %}
                    <a class="nav-item nav-link"
                       href="{% url 'user_profile' username=request.user.username %}"
                       style="vertical-align: top;">
                       <i class="material-icons md-14">person</i>
                        My Profile
                    </a>
                    <a class="nav-item nav-link" href="{% url 'feed'%}">
                        <i class="material-icons md-14">favorite_border</i>
                        Feed
                    </a>
                    <a class="nav-item nav-link" href="{% url 'discover'%}">
                        <i class="material-icons md-14">explore</i>
                        Discover
                    </a>
                    <a class="nav-item nav-link" href="/upload_photo">
                        <i class="material-icons md-14">add_circle_outline</i>
                        Upload Photo
                    </a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}"
                        style="vertical-align: top;">
                        Logout
                    </a>
                {% endif %}
                <div>
                    <input id="user-prefix-input"
                           class="form-control" 
                           onchange="fetchUsers()"
                           placeholder="Stalk" />
                </div>
            </div>
        </div>
    </nav>
    <div class="body-seize">
        {% block body %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>

</html>