{% extends 'layout.html' %}

{% block styles %}

  .lens-col {
    padding: 10px 5px !important;
  }

  .photo-holder {
    padding: 5px 0px 5px 5px !important;
  }

  .photo-btn-left {
    width:100%;
  }

  .photo-btn-right {
    width:100%;
  }

  .lens-col br {
    display: none;
  }

  .likes-number {
    display: block;
    position: relative;
    top: 12px;
    text-align: center;
}

{% endblock %}

{% block body %}
<div class="container">
	<h1> Photo </h1>
	
	<div class="col-md-6">
	    {% include "photo.html" %}
	</div>
	
	{% if request.user.is_authenticated and user == photo.user %}
		<a href="{% url 'delete_photo' pk=photo.pk %}">
			<button class="btn btn-danger">
				<i class="material-icons md-14">delete_forever</i> 
				Delete post
			</button>
		</a>
		
		<br>
	{% endif %}
	
	{% if photo.get_similar %}
	
	<h4>Similar images</h4>
	</br>
	<div class="row">
	
	{% for photo in photo.get_similar %}
	<div class="col-md-3">
	<div class="jumbotron photo-holder" style="position:relative;">
	
	    <div class="col-md-10 lens-col">
    	  <img src="{{photo.path.url}}" style="width:120%;" />
		</div>
		
		<div class="row" style="padding:0 4px;">
		 <div class="col-md-4 lens-col">
		  <p class="text-primary likes-number">
                <strong>
                    <span id="likes-count-{{photo.pk}}">
                        {{ photo.likes.count }}
                    </span>
                    Likes
                </strong>
            </p>
		</div>
		<div class="col-md-4 lens-col">
		<a href="{% url 'photo_detail' pk=photo.pk %}">
                <button class="btn btn-md btn-info photo-btn-right lens-button"
                        type="submit">
                    <i class="material-icons md-14">search</i> Full
                </button>
        </a>
		</div>
		</div>
		
	</div>
	</div>
    {% endfor %}
	
	
	{% endif %}

</div>
{% endblock %}

{% block scripts %}
<script>
    let like = function(photo_pk) {
        let likesCount = document.querySelector('#likes-count-' + photo_pk);
        let likeButton = document.querySelector('#like-button-' + photo_pk);
        let likeText = likeButton.querySelector('#button-content-like');
        let unlikeText = likeButton.querySelector('#button-content-unlike');
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              let currentLikes = parseInt(likesCount.innerText);
              let response = JSON.parse(this.response)
              if (response.liked) {
                likesCount.innerText = currentLikes + 1;
                likeText.style.display = 'none';
                unlikeText.style.display = 'block';
              }
              else {
                likesCount.innerText = currentLikes - 1;
                likeText.style.display = 'block';
                unlikeText.style.display = 'none';
              }
            }
        };
        
        xhttp.open('GET', 
                    '/ajax/like_photo/' + photo_pk, 
                    true);
        xhttp.send();
    }
</script>
{% endblock %}