<div class="jumbotron photo-holder" style="position:relative;">
    <p class="photo-title"> 
    	<span style="color:lightslategray">Uploaded by</span>
    	<a href="{% url 'user_profile' username=photo.user.username %}">
        	{{ photo.user.username }}
        </a>
    </p>

    <img src="{{photo.path.url}}" style="width: 100%;" />
    
    <div class="row" style="padding:0 12px;">
        <div class="col-md-4 lens-col">
            <p class="text-primary likes-number">
                <strong>{{ photo.likes.count }} Likes</strong>
            </p>
        </div>

        <div class="col-md-4 lens-col">
            {% if request.user.is_authenticated and user != photo.user %}
                <button class="btn btn-md btn-primary photo-btn-left lens-button" onclick="like({{photo.pk}})" type="submit">
                    {% if request.user in photo.likes.all %}
                        <i class="material-icons md-14">favorite_border</i> 
                        Unlike
                    {% else %}
                        <i class="material-icons md-14">favorite</i>
                        Like
                    {% endif %}
                </button>
            {% endif %}    
        </div>

        <div class="col-md-4 lens-col">
            <a href="{% url 'photo_detail' pk=photo.pk %}">
                <button class="btn btn-md btn-info photo-btn-right lens-button" type="submit">
                    <i class="material-icons md-14">search</i> Full
                </button>
            </a>
        </div>
    </div>
    <br />
</div>
