{% extends 'layout.html' %}

{% block body %}
<div class="container">
	<h1> Photo </h1>
	{% include "photo.html" %}
	
    {% for photo in photo.get_similar %}
    	<img src="{{photo.path.url}}" style="height: 100px;" />
    {% endfor %}
	{{photo.likes.count}} likes <br />


    {% if request.user.is_authenticated and user == photo.user %}
		<a href="{% url 'delete_photo' pk=photo.pk %}">
			<button class="btn btn-danger">
				<i class="material-icons md-14">delete_forever</i> 
				Delete post
			</button>
		</a>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    let like = function(photo_pk) {
        let likesCount = document.querySelector('#likes-count-' + photo_pk);
        let likeButton = document.querySelector('#like-button-' + photo_pk);
        let likeText = likeButton.querySelector('#button-content-like');
        let unlikeText = likeButton.querySelector('#button-content-unlike');
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              let currentLikes = parseInt(likesCount.innerText);
              let response = JSON.parse(this.response)
              if (response.liked) {
                likesCount.innerText = currentLikes + 1;
                likeText.style.display = 'none';
                unlikeText.style.display = 'block';
              }
              else {
                likesCount.innerText = currentLikes - 1;
                likeText.style.display = 'block';
                unlikeText.style.display = 'none';
              }
            }
        };
        
        xhttp.open('GET', 
                    '/ajax/like_photo/' + photo_pk, 
                    true);
        xhttp.send();
    }
</script>
{% endblock %}